.feed-container {
    margin: 0 auto;
    // border-top: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .2);
    // border: 1px solid rgba(0, 0, 0, .2);
    /* --- account --- */
    .feed-account {
        height: 9%;
        display: flex;
        align-items: center;
        .account-img {
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .12);
        }
        .account-name {
            font-weight: 600;
            color: rgba(0, 0, 0, .8);
        }
    }
    /* --- thumnail --- */
    .feed-thumnail {
        width: 100%;
        height: 60%;
        background-color: rgba(0, 0, 0, .15);
    }
    /* --- buttons --- */
    .feed-btns {
        position: relative;
        // border: 1px solid red;
        i {
            text-align: center;
            color: rgba(0, 0, 0, .8);
            // border: 1px solid red;
            &:last-child {
                position: absolute;
                right: 0;
                margin-right: 0;
            }
            &.heart {
                color: red;
            }
        }
    }
    /* --- details --- */
    .feed-details {
        // border: 1px solid red;
        .details-title {
            font-weight: 600;
        }
    }
}


// Desktop
@include desktop($desktop-size) {
    .feed-container {
        margin: $desktop-size * 3 auto 0;
        width: $desktop-size * 36;
        height: $desktop-size * 40;
        /* --- account --- */
        .feed-account {
            margin-left: $desktop-size;
            .account-img {
                width: $desktop-size * 2.2;
                height: $desktop-size * 2.2;
            }
            .account-name {
                font-size: $desktop-size;
                margin-left: $desktop-size;
            }
        }
        /* --- buttons --- */
        .feed-btns {
            margin: $desktop-size $desktop-size $desktop-size*1.2;
            i {
                font-size: $desktop-size * 1.6;
                margin-right: $desktop-size * 0.5;
                // border: 1px solid red;
            }
        }
        /* --- details --- */
        .feed-details {
            margin: 0 $desktop-size;
            .details-title {
                font-size: $desktop-size * 1.2;
                margin-bottom: $desktop-size;
            }
            .details-contents {
                font-size: $desktop-size;
            }
        }
    }
}

// Tablet
@include tablet($tablet-size) {
    .feed-container {
        margin: $tablet-size * 3 auto 0;
        width: $tablet-size * 56;
        height: $tablet-size * 64;
        /* --- account --- */
        .feed-account {
            margin-left: $tablet-size;
            .account-img {
                width: $tablet-size * 3;
                height: $tablet-size * 3;
            }
            .account-name {
                font-size: $tablet-size * 1.5;
                margin-left: $tablet-size;
            }
        }
        /* --- buttons --- */
        .feed-btns {
            margin: $tablet-size*2 $tablet-size;
            i {
                font-size: $tablet-size * 2.4;
                margin-right: $tablet-size * 0.8;
                // border: 1px solid red;
            }
        }
        /* --- details --- */
        .feed-details {
            margin: 0 $tablet-size;
            .details-title {
                font-size: $tablet-size * 1.5;
                margin-bottom: $tablet-size;
            }
            .details-contents {
                font-size: $tablet-size * 1.4;
            }
        }
    }
}

// Mobile
@include mobile($mobile-size) {
    .feed-container {
        margin: $mobile-size * 3 auto 0;
        width: 100vw;
        height: $mobile-size * 60;
        /* --- account --- */
        .feed-account {
            margin-left: $mobile-size;
            .account-img {
                width: $mobile-size * 3.2;
                height: $mobile-size * 3.2;
            }
            .account-name {
                font-size: $mobile-size * 1.8;
                margin-left: $mobile-size;
            }
        }
        /* --- buttons --- */
        .feed-btns {
            margin: $mobile-size*2 $mobile-size;
            i {
                font-size: $mobile-size * 2.4;
                margin-right: $mobile-size;
            }
        }
        /* --- details --- */
        .feed-details {
            margin: 0 $mobile-size;
            .details-title {
                font-size: $mobile-size * 1.8;
                margin-bottom: $mobile-size;
            }
            .details-contents {
                font-size: $mobile-size * 1.5;
            }
        }
    }
}