@include mobile() {
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        .contact-inner {
            width: 260px;
        }

        .contact-left {
            p {
                font-size: 14px;
                text-align: center;
                margin: 12px 0 24px;
            }

            .img {
                display: none;
            }
        }

        .contact-right {
            font-size: 8px;
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input,
                textarea {
                    width: 100%;
                    margin-bottom: 12px;
                    font-family: 'Nanum Gothic', sans-serif;
                    font-size: 10px;
                    color: rgba(0, 0, 0, .7);
                    border: 1px solid rgba(0, 0, 0, .25);
                    &:focus {
                        outline: none;
                    }
                }

                input {
                    height: 24px;
                    padding: 0 12px;
                }

                textarea {
                    padding: 8px 12px;
                    resize: none;
                }

                button {
                    width: 100%;
                    height: 30px;
                    margin: 0 auto;
                    font-size: 12px;
                    color: #fff;
                    border: none;
                    background-color: #525E75;
                    cursor: pointer;
                    transition: background-color 0.2s, box-shadow 0.2s;

                    &:hover {
                        background-color: #3c5788;
                        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .25);
                    }
                }
            }
        }

    }
}