@font-face {
  font-family: 'Billabong';
  src: url('../abstracts/fonts/Billabong.ttf');
}

// Base
.App {
  .container {
    margin: 0 auto;
    // border: 1px solid orange;
  }

  /* --- HEADER --- */
  .header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    // width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 9;

    .container {
      display: flex;
      justify-content: space-between;
    }

    .header-title {
      font-family: 'Billabong';
    }

    /* --- NAVIGATION --- */
    .navigation {
      display: flex;
      justify-content: center;
      background-color: #fff;

      // border: 1px solid red;
      .nav-btn {
        display: none;
        // justify-content: center;
        // align-items: center;
        // font-size: $desktop-size;
        // cursor: pointer;
        // border: 1px solid red;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }


  // Desktop
  @include desktop($desktop-size) {
    .container {
      width: $desktop-size * 60;
    }
    /* --- HEADER --- */
    .header {
      // background-color: #f7dcff;
      height: $desktop-size * 4;

      .header-title {
        font-size: $desktop-size * 2.5;
      }

      /* --- NAVIGATION --- */
      .navigation {
        .nav-btn {
          // display: none;
        }

        ul {
          li {
            font-size: $desktop-size;
            margin-left: $desktop-size;
            ;
          }
        }
      }
    }
  }

  // Tablet
  @include tablet($tablet-size) {
    .container {
      width: $tablet-size * 60;
    }

    /* --- HEADER --- */
    .header {
      // background-color: rgb(180, 211, 255);
      height: $tablet-size * 4;

      .header-title {
        font-size: $tablet-size * 2.5;
      }

      /* --- NAVIGATION --- */
      .navigation {
        .nav-btn {
          display: none;
        }

        ul {
          li {
            font-size: $tablet-size;
            margin-left: $tablet-size;
            ;
          }
        }
      }
    }
  }

  // Mobile
  @include mobile($mobile-size) {
    .container {
      margin: 0;
      // width: $mobile-size * 40;
      width: 100vw;
      // padding: $mobile-size*2;
    }

    /* --- HEADER --- */
    .header {
      // background-color: rgb(208, 255, 194);
      height: $mobile-size * 4;
      .container {
        padding: 0 $mobile-size;
      }
      .header-title {
        font-size: $mobile-size * 2.5;
      }

      /* --- NAVIGATION --- */
      .navigation {
        .nav-btn {
          display: none;
        }

        ul {
          li {
            font-size: $mobile-size;
            margin-left: $mobile-size;
            ;
          }
        }
      }
    }
  }

}