@font-face {
  font-family: 'Billabong';
  src: url('../abstracts/fonts/Billabong.ttf');
}

// Base
.App {
  /* --- HEADER --- */
  .header {
    position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    .container {
      display: flex;
      justify-content: space-between;
    }
    .header-title {
      font-family: 'Billabong';
      font-size: 7vh;
    }
    /* --- NAVIGATION --- */
    .navigation {
      display: flex;
      justify-content: center;
      // border: 1px solid red;
      .nav-btn {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 5vh;
        cursor: pointer;
        // border: 1px solid red;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
          margin-left: 3vw;
        }
      }
    }
  }

  // Desktop
  @include desktop($desktop-size) {
    .header {
      // background-color: aquamarine;
    }
  }

  // Tablet
  @include tablet($tablet-size) {
    .header {
      background-color: rgb(127, 180, 255);
      .navigation {
        .nav-btn {
          display: flex;
        }
        ul {
          display: none;
        }
        &.active {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 40vw;
          height: 100vh;
          padding: 3vh 0 0 3vh;
          background-color: rgba(0, 0, 0, .5);
          color: #fff;
          .nav-btn {
            display: block;
            // border: 1px solid red;
          }
          ul {
            display: block;
            // border: 1px solid red;
            li {
              color: #fff;
              margin: 5vh 0;
            }
          }
        }
      }
    }
  }

  // Mobile
  @include mobile($mobile-size) {
    .header {
      background-color: rgb(248, 255, 146);
      .navigation {
        .nav-btn {
          display: flex;
        }
        ul {
          display: none;
        }
        &.active {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 40vw;
          height: 100vh;
          padding: 3vh 0 0 3vh;
          background-color: rgba(0, 0, 0, .5);
          color: #fff;
          .nav-btn {
            display: block;
            // border: 1px solid red;
          }
          ul {
            display: block;
            // border: 1px solid red;
            li {
              color: #fff;
              margin: 5vh 0;
            }
          }
        }
      }
    }
  }

}