.about {
  /* --- PROFILE --- */
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    border: 1px solid red;
    .profile-img {
      margin-right: 5vw;
      // border: 1px solid blue;
      img {
        height: 33vh;
        border-radius: 50%;
      }
    }
    .profile-txt {
      width: 50vw;
      height: 30vh;
    //   border: 1px solid blue;
    }
  }


}