@include tablet() {
    #skills {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            margin-top: 20px;
            width: 80%;
            // border: 1px solid red;

            li {
                display: flex;
                justify-content: space-between;
                display: flex;
                margin-top: 16px;

                .skill-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    font-size: 18px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, .7);
                }

                .ability-bar {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 80%;
                    height: 24px;
                    padding: 0 1px;
                    background-color: #eee;
                    border-radius: 4px;
                    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .18);
                    // transition: all 0.2s linear;

                    .ability-percent {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        height: 24px;
                        padding: 0 16px;
                        border-radius: 0 12px 12px 0;
                        background: linear-gradient(90deg, rgba(254, 233, 178, 1) 0%, rgba(255, 200, 152, 1) 100%);
                        animation: SkillUp 2s linear;

                        .percent {
                            color: #fff;
                            font-size: 16px;
                        }
                    }

                    p {
                        display: none;
                    }
                }
            }
        }


        @keyframes SkillUp {
            0% {
                width: 10%;
            }

            100% {
                width: 100%;
            }
        }
    }
}