@include desktop() {
    #about {
        .about-inner {
            width: 980px;
            padding: 20px;
            margin: 20px auto 0;
            // background-color: azure;
        }

        #introduction {
            height: 450px;
            // width: 1400px;
            font-size: 36px;
            font-weight: 600;
            line-height: 1.5;
            text-align: center;
            color: rgba(0, 0, 0, .7);
            margin-top: 0px;

            // border: 1px solid red;
            .typeit {
                height: 120px;
                margin-bottom: 16px;
                // border: 1px solid red;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }

        #profile {
            padding-bottom: 40px;
            background-color: #fff;
            box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .25);

            h2 {
                margin: 20px 0 30px;
            }

            .profile-inner {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            .profile-img {
                display: flex;
                width: 280px;
                height: 360px;
                border-radius: 50%;
                background-image: url('./profileImg.webp');
                background-size: cover;
            }

            .profile-list {
                width: 540px;
                height: 360px;
                font-size: 20px;
                color: rgba(0, 0, 0, .7);

                ul {
                    width: 480px;
                    margin: 10px auto;
                    padding: 10px 20px;

                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;

                        span {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }
}