@import './variales';
@mixin mobile () {
    @media (max-width: #{$breakpoint-tablet - 1}) {
        @content;
    }
  }

@mixin tablet () {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1}) {
        @content;
    }
}

@mixin desktop () {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

// @mixin desktop ($desktop) {
//     @media (min-width: #{$breakpoint-desktop}) {
//         @content;
//     }
// }