.bubbles {
    z-index: -9999;
    display: flex;
    justify-content: space-around;

    span {
        position: relative;
        width: 7vw;
        height: 7vw;
        // margin: 0 4px;
        border-radius: 50%;
        // opacity: 0.6;
        animation: bubbelUp 15s linear infinite;
        
        &.purple {
            background-color: #D9D7F1;
        }
        &.yellow {
            background-color: #FFFDDE;
        }
        &.green {
            background-color: #E7FBBE;
        }
        &.pink {
            background-color: #FFCBCB;
        }
        &.blue {
            background-color: #D6E5FA;
        }
        &.b1 {
            animation-duration: calc(30s/1.4);
        }
        &.b2 {
            animation-duration: calc(40s/1.8);
        }
        &.b3 {
            animation-duration: calc(30s/2.2);
        }
        &.b4 {
            animation-duration: calc(30s/2.6);
        }
        &.b5 {
            animation-duration: calc(40s/3);
        }
    }

    @keyframes bubbelUp {
        0% {
            opacity: 0.3;
            transform: translateY(70vh) scale(0.2);
        }
        50% {
            opacity: 0.8;
        }
        100% {
            opacity: 0;
            transform: translateY(0vh) scale(1.2);
        }
    }
}
